@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
.ürünlerSayfası {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.ürünlerSayfası .ürünlerİç {
    padding: 1rem 0 0 1rem;
}
.ürünlerİç .ekleForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 8px;
}
.ürünlerİç .ekleFormKapalı {
    display: none;
}
.ürünlerİç .ekleForm .ekleFormBaşlık {
    padding: 1rem 0;
    border-bottom: 1px solid rgb(117, 117, 92);
    width: 100%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.3rem;
}
.ürünlerİç .ekleForm .girdiler {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: 1px solid rgb(117, 117, 92);
}
.ürünlerİç .ekleForm .girdiler .girdi {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 60% 40%;
} 
.ürünlerİç .ekleForm .girdiler .girdi span {
    padding: 0 8px 0 0;
    text-align: center;
} 
textarea {
    resize: none;
}
.ürünlerİç .ekleForm .ekleButonu {
    padding: 1rem 0 1rem 0;
}
.ürünlerİç .ekleForm .ekleButonu button {
    padding: 5px 8px;
    background-color: rgb(50, 205, 63);
    color: white;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 1.2rem;
    font-family: 'Fira Sans', sans-serif;
} 
.ürünlerSayfası .ürünlerİç .başlık {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    color: rgb(59, 59, 59);
    padding: 1rem 0 1rem 1rem;
}
.ürünlerSayfası .ürünlerİç .button  {
    padding: 0 0 1rem 1rem;
}
.ürünlerSayfası .ürünlerİç .button button {
    padding: 10px 16px;
    border: none;
    background-color: rgb(57, 79, 201);
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}
.ürünlerSayfası .ürünlerİç .yönetim {
    margin: 1.5rem auto 0 1rem;
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.ürünlerSayfası .ürünlerİç .yönetim .başlıkYönetim {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.6rem;
    color: rgb(59, 59, 59);
    padding: 1rem 0 .5rem 1rem;
}
.yönetim .aramaAlanı {
    padding: 1rem 0 .5rem 1rem;
    font-family: 'Fira Sans', sans-serif;
}
.yönetim .aramaAlanı .arama {
    padding: 0 0 .5rem 0;
    font-family: 'Fira Sans', sans-serif;
}
.yönetim .aramaAlanı .arama input {
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
}
.yönetim .ürünler {
    padding: 1rem 0 0 1rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.ürünlerTablosu {
    width: 80%;
    margin: 0 auto 0 0;
}
.düzenle {
    background-color: green;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 4px;
    margin-right: 4px;
    font-weight: 800;
    font-family: 'Fira Sans', sans-serif;
}
.düzenle i {
    margin-right: 5px;
}
.sil {
    background-color: red;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 4px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;

}
.sil i {
    margin-right: 5px;
}